body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}


#banner{
    width: 100%;
}

.titulo-principal{
    text-transform: uppercase;
    text-align: center;
    color: rgb(104, 60, 146);
    background-color: rgb(199, 185, 206);
    padding: 30px;
    margin: 0px;
    
}
.titulo2{
    color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
